/*=== carts ===*/
.cart-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.cart-step {
  text-align: center;
  .box {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    margin-left: 40px;
    font-size: 1.0625rem;
    color: #222;
    min-height: 28px;
    line-height: 1.2;
    padding-left: 0px;
    padding-top: 5px;
    &::before {
      content: "";
      width: 2px;
      height: 18px;
      background: #e1e1e1;
      transform: rotate(30deg);
      left: -20px;
      top: 50%;
      margin-top: -9px;
      position: absolute;
      display: block;
    }
    .deco {
      white-space: nowrap;
      content: "";
      padding: 0 10px;
      height: 28px;
      font-size: 0.9375rem;
      line-height: 28px;
      color: #333;
      background: #eeeeee;
      border-radius: 50px;
      display: block;
      margin-bottom: 5px;
    }    
    &:first-child {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
    &.current {
      .deco {
        background: var(--main-pink);
        color: #fff;
      }
    }
  }
}
@media (min-width: 767px) {
  .cart-title {
    text-align: left;
    margin-bottom: 0;
  }
  .cart-step {
    text-align: right; 
    .box {
      padding-left: 70px;
      .deco {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
      }
    }
  }
}

/*=== carts finish ===*/
.order__finish {
  min-height: calc(100vh - 285px);
}


/*=== 側欄購物車 ===*/
.right-cart {
  .cart-foot {
    width: 100%;
    display: flex;
    border-top: 1px solid #e6e6e6;
    flex-direction: column;
    flex: none;
    padding: 16px 24px 24px;
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p > span {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--main-pink);
      }
    }
  }
  .cart-box {
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    .cart-image {
      width: 80px;
      height: 80px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        max-width: 200px;
        min-height: 80px;
        min-width: 80px;
        object-fit: cover;
      }
    }
    .cart-desc {
      flex-direction: column;
      flex: 1;
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      .title {
        font-size: 16px;
        font-weight: 400;
      }
      .price {
        font-size: 14px;
        line-height: 24px;
        color: #999;
      }
      .cart-remove {
        color: #999;
        font-family: Poppins, sans-serif;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          color: var(--main-pink);
          text-decoration: underline;
        }
      }
    }
    .qty {
      width: 70px;
      display: flex;
      align-items: end;
      .form-control {
        height: 40px;
        background-color: #eee;
        border-radius: 6px;
      }
    }
  }
}

/*=== 套件 ===*/
.offcanvas-backdrop.show {
  opacity: 0.2;
}