
/* 寬度設定 */
// .swiper {
//   width: 100%;
// }

/* pagination 自定義式 */
.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  .swiper-pagination-bullet {
    display: block;
    position: relative;
    width: 27px;
    height: 27px;
    margin: 0 7px;
    cursor: pointer;
    background: transparent;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      margin: -7px 0 0 -7px;
      border-radius: 100%;
      background: #e76785;
      content: "";
    }
    &-active::before {
      background: #e76785;
    }
  }
}


/* swiper 數量不足對應 */
@media (min-width: 768px) {
  .swiper-slide {
    min-width: 204px;
    min-height: 224px;
  }
}
@media (min-width: 992px) {
  .swiper-slide {
    min-width: 150px;
    min-height: 165px;
  }
}
@media (min-width: 1200px) {
  .swiper-slide {
    min-width: 188px;
    min-height: 206px;
  }
}
@media (min-width: 1400px) {
  .swiper-slide {
    min-width: 225px;
    min-height: 248px;
  }
}
@media (min-width: 1580px) {
  .swiper-slide {
    min-width: 258px;
    min-height: 290px;
  }
}

