/*=== products ===*/
.procard {
  display: block;
  cursor: pointer;
  text-decoration: none;
  &-image {
    position: relative;
    width: 100%;
    padding-bottom: 129%;
    margin-bottom: 25px;
    border-radius: 50rem 50rem 0 0;
    overflow: hidden;
    transition: all 0.4s;
    img {
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s;
    }
    &::after {
      pointer-events: none;
      opacity: 0;
      font-family: "Poppins", sans-serif;
      content: 'view +';
      display: block;
      width: 120px;
      height: 60px;
      background-color: var(--main-pink);
      color: #fff;
      line-height: 60px;
      text-align: center;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50rem;
      transition: all 0.4s;
    }
    &:hover {
      background-color: #000;
      img {
        transform: scale(1.1);
        opacity: 0.5;
      }
      &::after {
        top: 55%;
        opacity: 1;
      }
    }
  }
  &-text {
    text-align: center;
    color: #000;
    .tibox {
      font-size: 1.25rem;
      line-height: 1.7;
    }
  }
}

/*=== products detail ===*/
.procard__detail {
  display: block;
  text-decoration: none;
  &-image {
    position: relative;
    width: 100%;
    padding-bottom: 129%;
    margin-bottom: 25px;
    border-radius: 50rem 50rem 0 0;
    overflow: hidden;
    transition: all 0.4s;
    img {
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s;
    }
  }
}

/*=== 側欄購物車 ===*/
.right-cart {
  .cart-foot {
    width: 100%;
    display: flex;
    border-top: 1px solid #e6e6e6;
    flex-direction: column;
    flex: none;
    padding: 16px 24px 24px;
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p > span {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--main-pink);
      }
    }
  }
  .cart-box {
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    .cart-image {
      width: 80px;
      height: 80px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        max-width: 200px;
        min-height: 80px;
        min-width: 80px;
        object-fit: cover;
      }
    }
    .cart-desc {
      flex-direction: column;
      flex: 1;
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      .title {
        font-size: 16px;
        font-weight: 400;
      }
      .price {
        font-size: 14px;
        line-height: 24px;
        color: #999;
      }
      .cart-remove {
        color: #999;
        font-family: Poppins, sans-serif;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          color: var(--main-pink);
          text-decoration: underline;
        }
      }
    }
    .qty {
      width: 70px;
      display: flex;
      align-items: end;
      .form-control {
        height: 40px;
        background-color: #eee;
        border-radius: 6px;
      }
    }
  }
}