/*=== banner  ===*/
.banner {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0px auto 0;
  // border-radius: 174px;
  background: url(../../iban1.jpg) center no-repeat;
  background-size: cover;
  object-fit: cover;
  .slogan {
    color: black;
    line-height: 0.9;
    .en {
      font-family: "Koulen", "arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 120px;
    }
    .ch {
      font-size: 84px;
    }
    .btn {
      margin-top: 30px;
      padding-left: 25px;
      padding-right: 25px;
      color: white;
    }
  }
}

/*=== 共用設定  ===*/
section {
  padding: 50px 0;
}
.main-header {
  // font-family: "Poppins", sans-serif;
  font-family: "Koulen", "arial", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  section {
    padding: 100px 0;
  }
  .main-header {
    font-size: 54px;
    margin-bottom: 50px;
  }
}

/*====== iabout2 ======*/
.iabout2 {
  padding-bottom: 22%;
  background: url(../../about_pic1.jpg) bottom center no-repeat;
  // background-size: contain;
  .stitle {
    color: #FF7272;
    font-size: 1.25rem;
    font-family: "Koulen", "arial", sans-serif;
  }
  .tibox {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    position: relative;
    &::after {
      bottom: -20px;
      content: "";
      height: 7px;
      border-top: 6px dotted #111;
      left: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 34px;
    }
  }
  p {
    font-size: 1.125rem;
    line-height: 2;
    br {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .iabout2 {
    p {
      br {
        display: block;
      }
    }
  }
}


/*====== iproduct ======*/
/* 圖片樣式 */
.iproducts {
  position: relative;
  .item_cont {
    display: block;
    cursor: pointer;
    text-decoration: none;
    &-image {
      position: relative;
      width: 100%;
      padding-bottom: 110%;
      margin-bottom: 25px;
      border-radius: 50rem 50rem 0 0;
      overflow: hidden;
      transition: all 0.4s;
      img {
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s;
      }
      &::after {
        opacity: 0;
        font-family: "Poppins", sans-serif;
        content: 'view +';
        display: block;
        width: 120px;
        height: 60px;
        background-color: var(--main-pink);
        color: #fff;
        line-height: 60px;
        text-align: center;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50rem;
        transition: all 0.4s;
      }
    }
    &-text {
      text-align: center;
      color: #000;
      .tibox {
        font-size: 1.25rem;
        line-height: 1.7;
      }
    }
    &:hover {
      .item_cont-image {
        background-color: #000;
        img {
          transform: scale(1.1);
          opacity: 0.5;
        }
        &::after {
          top: 55%;
          opacity: 1;
        }
      }
    }
  }
}

/*====== inews ======*/
.inews {
  background-color: #fff3f3;
  .single-box {
    position: relative;
    border-radius: 20px;
    // border: 1rem solid #fff;
    &_pic {
      padding-bottom: 60%;
      border-radius: 10px;
      display: block;
      position: relative;
      overflow: hidden;
      img {
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    &_txt {
      padding: 2rem;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6643032213) 0%, rgba(255, 255, 255, 0) 86%);
      border-radius: 0 0 10px 10px;
      .category {
        padding: 0 10px;
        margin-right: 10px;
        color: var(--main-pink);
        color: #fff;
        border: 1px solid #fff;
        font-size: 0.875rem;
        display: inline-block;
      }
      .date {
        font-size: 1rem;
        display: inline-block;
      }
      .tibox {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.7;
      }
    }
  }
  .list-group {
    .sbox {
      padding-top: 1.25rem;
      align-items: center;
      text-decoration: none;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(#000, 0.1);
        padding-bottom: 1.25rem;
      }
      .image {
        position: relative;
        width: 100%;
        padding-bottom: 70%;
        overflow: hidden;
        border-radius: 4px;
        img {
          display: block;
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.4s;
        }
      }
      .text {
        color: #000;  
        .category {
          padding: 0 10px;
          margin-right: 10px;
          color: var(--main-pink);
          border: 1px solid pink;
          font-size: 0.9375rem;
          display: inline-block;
        }    
        .date {
          display: inline-block;
          color: var(--main-pink);
        }
        .title {
          text-overflow: ellipsis;
          // white-space: nowrap;
          overflow: hidden;
          font-size: 1.125rem;
          line-height: 1.5;
        }
      }
      &:hover {
        .image img {
          transform: scale(1.1);
        }
        .text {
          .title {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .inews {
    .single-box {
      &_pic {
        padding-bottom: 100%;}}}
}
@media (min-width: 1200px) {
  .inews {
    .single-box {
      &_pic {
        padding-bottom: 64%;}}}
}


/*====== adv ======*/
.adv {
  padding-top: 0;
}
.adv-wrap {
  .adv-img1 {
    background: url(../../adv1.jpg) no-repeat,linear-gradient(67deg, #f3ced2 7%, #f5b6bd);
  }
  .adv-img2 {
    background: url(../../adv2.jpg) no-repeat, linear-gradient(67deg, #bacbc5 7%, #b2ccc3);
  }
  a {
    position: relative;
    display: block;
    height: 260px;
    border-radius: 16px;
    padding: 50px 60px;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    &:hover {
      
      .arrow {
        width: 106px;
      }
    }
  }
  .adv-text {
    position: relative;
    z-index: 10;
  }
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.39;
    margin-bottom: 5px;
  }
  .txt {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    line-height: 1.45;
  }
  .arrow {
    position: absolute;
    left: 0;
    bottom: -50px;
    display: inline-block;
    width: 26px;
    height: 12px;
    transition: all 0.3s ease;
    vertical-align: middle;
    cursor: pointer;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
    }
    &::before {      
      left: 0;
      width: 100%;
      border-bottom: 2px solid #fff;
      transform: translateY(-50%);
    }
    &::after {
      right: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: translateY(-50%) rotate(45deg);
    }
    .hidden_i {
      overflow: hidden;
      display: inline-block;
      border: 0;
      margin: -1px;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
    }
  }
  .pic {
    position: absolute;
    top: 0%;
    left: 0%;
    // transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
  }
}