/*=== banner  ===*/
.banner {
  overflow: hidden;
  width: 100%;
  height: 60vh;
  margin: 85px auto 0;
  background: url(../../iban1.jpg) center no-repeat;
  background-size: cover;
  object-fit: cover;
  .slogan {
    color: black;
    line-height: 0.9;
    .en {
      font-family: "Koulen", "arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(50px, 6vw + 1rem, 120px);
    }
    .ch {
      font-size: clamp(50px, 6vw + 1rem, 84px);
    }
    .btn {
      margin-top: 30px;
      padding-left: 25px;
      padding-right: 25px;
      color: white;
    }
  }
}
@media (min-width: 767px) {
  .banner {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .banner {
    margin: 0 auto;
    height: 100vh;
  }
}

/*====== iabout2 ======*/
.iabout2 {
  .stitle {
    color: #FF7272;
    font-size: 1.25rem;
    font-family: "Koulen", "arial", sans-serif;
  }
  .tibox {
    font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
    font-weight: bold;
    margin-bottom: 2.5rem;
    position: relative;
    &::after {
      bottom: -20px;
      content: "";
      height: 7px;
      border-top: 6px dotted #111;
      left: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 34px;
    }
  }
  p {
    font-size: 1.125rem;
    line-height: 2;
    br {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .iabout2 {
    p {
      br {
        display: block;
      }
    }
  }
}


/*====== iproduct ======*/
/* 圖片樣式 */
.iproducts {
  position: relative;
  .item_cont {
    display: block;
    cursor: pointer;
    text-decoration: none;
    &-image {
      position: relative;
      width: 100%;
      padding-bottom: 110%;
      margin-bottom: 25px;
      border-radius: 50rem 50rem 0 0;
      overflow: hidden;
      transition: all 0.4s;
      img {
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s;
      }
      &::after {
        opacity: 0;
        font-family: "Poppins", sans-serif;
        content: 'view +';
        display: block;
        width: 120px;
        height: 60px;
        background-color: var(--main-pink);
        color: #fff;
        line-height: 60px;
        text-align: center;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50rem;
        transition: all 0.4s;
      }
    }
    &-text {
      text-align: center;
      color: #000;
      .tibox {
        font-size: 1.25rem;
        line-height: 1.7;
      }
    }
    &:hover {
      .item_cont-image {
        background-color: #000;
        img {
          transform: scale(1.1);
          opacity: 0.5;
        }
        &::after {
          top: 55%;
          opacity: 1;
        }
      }
    }
  }
}

/*====== inews ======*/
.icategory {
  background-color: #fff3f3;
  .single-box {
    position: relative;
    border-radius: 20px;
    &_pic {
      padding-bottom: 30%;
      border-radius: 10px;
      display: block;
      position: relative;
      overflow: hidden;
      img {
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s;
      }      
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(#000, 0.3);
      }
    }
    &_txt {
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 50%;
      right: 0;
      color: #fff;
      transform: translateY(-50%);
      z-index: 20;
      cursor: pointer;
      .tibox {
        text-align: center;
        width: 100%;
        font-size: clamp(1.125rem, 0.0313rem + 3.5vw, 2rem);
        line-height: 1.3;
        small {
          display: block;
          font-size: 1.0125rem;
        }
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
@media (min-width: 576px) {
  .icategory {
    .single-box {
      &_pic {
        padding-bottom: 100%;}      
    }
  }
}
@media (min-width: 992px) {
  .icategory {
    .single-box {
      &_pic {
        padding-bottom: 64%;}      
    }
  }
}

/*====== adv ======*/
.adv {
  padding-top: 0;
}
.adv-wrap {
  .adv-img1 {
    background: url(../../adv1.jpg) no-repeat,linear-gradient(67deg, #f3ced2 7%, #f5b6bd);
  }
  .adv-img2 {
    background: url(../../adv2.jpg) no-repeat, linear-gradient(67deg, #bacbc5 7%, #b2ccc3);
  }
  a {
    position: relative;
    display: block;
    height: 180px;
    border-radius: 16px;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    &:hover {
      .arrow {
        width: 106px;
      }
    }
  }
  .adv-text {
    position: relative;
    z-index: 10;
  }
  .title {
    font-size: clamp(26px, 0.0313rem + 3.5vw, 36px);
    font-weight: 700;
    line-height: 1.39;
    margin-bottom: 5px;
  }
  .txt {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    line-height: 1.45;
  }
  .arrow {
    position: absolute;
    left: 0;
    bottom: -50px;
    display: inline-block;
    width: 26px;
    height: 12px;
    transition: all 0.3s ease;
    vertical-align: middle;
    cursor: pointer;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
    }
    &::before {      
      left: 0;
      width: 100%;
      border-bottom: 2px solid #fff;
      transform: translateY(-50%);
    }
    &::after {
      right: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: translateY(-50%) rotate(45deg);
    }
    .hidden_i {
      overflow: hidden;
      display: inline-block;
      border: 0;
      margin: -1px;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
    }
  }
  .pic {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
  }
}
@media (min-width: 767px) {
  .adv-wrap {
    a {
      height: 200px;
      padding: 30px 40px;
    }
  }
}
@media (min-width: 992px) {
  .adv-wrap {
    a {
      height: 260px;
      padding: 50px 60px;
    }
  }
}
